
// Body
$body-bg: #666;

// Borders
$laravel-border-color: lighten($body-bg, 20%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #f4a460;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: 'Press Start 2P', cursive, 'VT323', monospace;
$font-size-base: 12px;
$line-height-base: 1.2;
$text-color: #e3e3e3;

// Navbar
$navbar-default-bg: #555;
$navbar-default-color: $text-color;
$navbar-default-link-color: $text-color;
$component-active-color: lighten($body-bg, 20%);

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #555;
$panel-bg: $body-bg;

// Forms
$input-bg: lighten($body-bg, 10%);
$input-border: lighten($body-bg, 20%);